<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--NCHM CONFIGURATION 
  <appSettings>
    <add key="boardId" value="NCHM"/>
    <add key="roundNo" value="4"/>
    <add key="tseat" value="4567"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Data Source = 10.25.97.205; database=NCHM17_15072017_R4_Hostel;uid=sa;pwd=couns@123"/>
  </connectionStrings>-->

  <!--CCMT CONFIGURATION
  <appSettings>
    <add key="boardId" value="CCMT"/>
    <add key="roundNo" value="5"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Data Source = 10.25.97.210; database=CCMTDB_R5_30062017;uid=sa;pwd=secure@123"/>
  </connectionStrings>-->

  <!--JEECUP CONFIGURATION
     <appSettings>
    <add key="boardId" value="JEECUP"/>
    <add key="roundNo" value="2"/>
    </appSettings>
     <connectionStrings>
     <add name="conn" connectionString="Data Source = 10.25.97.210; database=GenCounselling2017;uid=sa;pwd=secure@123"/>
     </connectionStrings> -->

  <!--UPSEE CONFIGURATION
  <appSettings>
    <add key="boardId" value="UPSEE"/>
    <add key="roundNo" value="2"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Data Source = 10.25.97.213; database=UPSEECouns17_06072017;uid=sa;pwd=secure@123"/>
  </connectionStrings>-->

  <!--WBJEE CONFIGURATION 
  <appSettings>
    <add key="boardId" value="WBJEE"/>
    <add key="roundNo" value="3"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Data Source = 10.25.97.205; database=WBJEECouns17_2017_07_10_R3;uid=sa;pwd=couns@123"/>
  </connectionStrings>-->

  <!--JAC CONFIGURATION
  <appSettings>
    <add key="boardList" value="NCHM,CCMT,JEECUP,UPSEE,WBJEE"/>
    <add key="maxRoundNo" value="7"/>
    <add key="boardId" value="JAC"/>
    <add key="roundNo" value="4"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Data Source = 10.25.97.205; database=JAC_14082017_1230PM_R4;uid=sa;pwd=couns@123"/>
  </connectionStrings>
  -->

  <!--CSABSpecial CONFIGURATION 
  <appSettings>
    <add key="boardId" value="CSABSpecial"/>
    <add key="roundNo" value="8"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Data Source = 10.25.97.205; database=csabspecialcounselling_30072017_0800;uid=sa;pwd=couns@123"/>
  </connectionStrings>-->

  <!--CSABSFTI CONFIGURATION 
  <appSettings>
    <add key="boardId" value="CSABSFTI"/>
    <add key="roundNo" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Data Source = 10.25.97.210; database=CSABSFTI2017_02082017;uid=sa;pwd=secure@123"/>
  </connectionStrings>-->

  <!--CSABSuperNm CONFIGURATION 
  <appSettings>
    <add key="boardId" value="CSABSuperNm"/>
    <add key="roundNo" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Data Source = 10.25.97.205; database=CSABSuper2017_Allotment;uid=sa;pwd=couns@123"/>
  </connectionStrings>-->

  <!--HBTU CONFIGURATION -->
  <appSettings>
    <add key="boardId" value="131012121"/>
    <add key="roundNo" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Data Source = .; database=Allot_HBTU21;uid=sa;pwd=secure@123"/>
  </connectionStrings>
</configuration>