
/****** Object:  Table [dbo].[XT_Administrator]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XT_Administrator](
	[boardId] [varchar](10) NULL,
	[userId] [varchar](20) NULL,
	[pwd] [varchar](100) NULL,
	[maxRoundNo] [int] NULL,
	[userRole] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XT_Allotment]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XT_Allotment](
	[RollNo] [varchar](20) NOT NULL,
	[Instcd] [varchar](10) NOT NULL,
	[Brcd] [varchar](10) NOT NULL,
	[Sequence] [varchar](30) NOT NULL,
	[Rank] [float] NULL,
 CONSTRAINT [PK_XT_Allotment] PRIMARY KEY CLUSTERED 
(
	[RollNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XT_AllotmentSummary]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XT_AllotmentSummary](
	[Instcd] [varchar](10) NOT NULL,
	[Brcd] [varchar](10) NOT NULL,
	[Sequence] [varchar](30) NOT NULL,
	[InItSeats] [int] NULL,
	[NewSeats] [int] NULL,
	[Allotted] [int] NULL,
	[OpeningRank] [float] NULL,
	[ClosingRank] [float] NULL,
	[OpeningRank_NewCand] [float] NULL,
	[ClosingRank_NewCand] [float] NULL,
	[DereserveFrom] [int] NULL,
	[DereserveTo] [int] NULL,
 CONSTRAINT [PK_XT_AllotmentSummary] PRIMARY KEY CLUSTERED 
(
	[Instcd] ASC,
	[Brcd] ASC,
	[Sequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XT_Allotted]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XT_Allotted](
	[IterationNo] [int] NOT NULL,
	[RollNo] [varchar](20) NOT NULL,
	[Instcd] [varchar](10) NULL,
	[Brcd] [varchar](10) NULL,
	[Sequence] [varchar](30) NULL,
	[Rank] [float] NULL,
 CONSTRAINT [PK_XT_Allotted] PRIMARY KEY CLUSTERED 
(
	[IterationNo] ASC,
	[RollNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XT_Dereserve]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XT_Dereserve](
	[IterationNo] [int] NOT NULL,
	[Instcd] [varchar](10) NOT NULL,
	[Brcd] [varchar](10) NOT NULL,
	[Sequence] [varchar](30) NOT NULL,
	[Seats] [int] NULL,
	[Allotted] [int] NULL,
	[DereserveFrom] [int] NULL,
	[DereserveTo] [int] NULL,
 CONSTRAINT [PK_XT_Dereserve] PRIMARY KEY CLUSTERED 
(
	[IterationNo] ASC,
	[Instcd] ASC,
	[Brcd] ASC,
	[Sequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XT_EligibleCandidate]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XT_EligibleCandidate](
	[RollNo] [varchar](20) NOT NULL,
	[Category] [varchar](20) NULL,
	[Subcategory] [varchar](200) NULL,
	[Gender] [char](2) NULL,
	[Domicile] [varchar](20) NULL,
	[AdditionalInfo] [varchar](200) NULL,
	[Symbol] [varchar](50) NULL,
	[Rank] [varchar](100) NULL,
	[Willingness] [varchar](5) NULL,
 CONSTRAINT [PK_XT_EligbleCandidate] PRIMARY KEY CLUSTERED 
(
	[RollNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Table XT_EligibleCandidateOrder (rollno varchar(20) primary key,ProcOrder float) 
GO

/****** Object:  Table [dbo].[XT_PreviousAllotment]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XT_PreviousAllotment](
	[RollNo] [varchar](20) NOT NULL,
	[Instcd] [varchar](10) NOT NULL,
	[Brcd] [varchar](10) NOT NULL,
	[Sequence] [varchar](30) NOT NULL,
	[OptNo] [int] NULL,
	[isRetained] [int] NULL,
 CONSTRAINT [PK_XT_PreviousAllotment] PRIMARY KEY CLUSTERED 
(
	[RollNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XT_PSeat]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XT_PSeat](
	[Instcd] [varchar](10) NOT NULL,
	[Brcd] [varchar](10) NOT NULL,
	[Sequence] [varchar](30) NOT NULL,
	[TSeat] [int] NULL,
	[ASeat] [int] NULL,
	[BSeat] [int] NULL,
	[CSeat] [int] NULL,
 CONSTRAINT [PK_XT_PSeat] PRIMARY KEY CLUSTERED 
(
	[Instcd] ASC,
	[Brcd] ASC,
	[Sequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XT_Seat]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XT_Seat](
	[Instcd] [varchar](10) NOT NULL,
	[Brcd] [varchar](10) NOT NULL,
	[Sequence] [varchar](30) NOT NULL,
	[StateList] [varchar](30) NULL,
	[TSeat] [int] NULL,
 CONSTRAINT [PK_XT_Seat] PRIMARY KEY CLUSTERED 
(
	[Instcd] ASC,
	[Brcd] ASC,
	[Sequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XT_Validation]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XT_Validation](
	[RollNo] [varchar](20) NULL,
	[ProcOptNo] [int] NULL,
	[Instcd] [varchar](10) NULL,
	[Brcd] [varchar](10) NULL,
	[Sequence] [varchar](30) NULL,
	[CandRank] [float] NULL,
	[ClosingRank] [float] NULL,
	[InItSeats] [int] NULL,
	[NewSeats] [int] NULL,
	[Allotted] [int] NULL,
	[DereserveFrom] [int] NULL,
	[Reason] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XT_VirtualChoice]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XT_VirtualChoice](
	[RollNo] [varchar](20) NOT NULL,
	[totalChoice] [int] NULL,
	[totalVChoice] [int] NULL,
	[VChoiceWithRank] [varchar](max) NULL,
 CONSTRAINT [PK_XT_VirtualChoice] PRIMARY KEY CLUSTERED 
(
	[RollNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[XP_GetAllVirtualChoices]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[XP_GetAllVirtualChoices]
AS
BEGIN
	select RollNo, totalChoice, totalVChoice, VChoiceWithRank from [dbo].[XT_VirtualChoice]	
END



GO
/****** Object:  StoredProcedure [dbo].[XP_GetCandidateDetails]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[XP_GetCandidateDetails]
@RollNo varchar(20)
AS
Begin
select * from XT_EligibleCandidate where RollNo=@RollNo
select * from XT_PreviousAllotment where RollNo=@RollNo
select * from XT_Allotment where RollNo=@RollNo
End



GO
/****** Object:  StoredProcedure [dbo].[XP_GetEligibleCandidate]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[XP_GetEligibleCandidate]
AS
BEGIN
select RollNo, Category, Subcategory, Gender, Domicile, AdditionalInfo, Symbol, [Rank], Willingness from XT_EligibleCandidate
END



GO
/****** Object:  StoredProcedure [dbo].[XP_GetPreviousAllotment]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[XP_GetPreviousAllotment]
AS
BEGIN
	select RollNo, Instcd, Brcd, Sequence, OptNo, isRetained from [dbo].[XT_PreviousAllotment]
END




GO
/****** Object:  StoredProcedure [dbo].[XP_GetProcessingSeat]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[XP_GetProcessingSeat]
AS
BEGIN
	select Instcd, Brcd, Sequence, Instcd+'.'+Brcd+'.'+Sequence [WLKey],TSeat, ASeat, BSeat, CSeat from [dbo].[XT_PSeat]
END



GO
/****** Object:  StoredProcedure [dbo].[XP_GetVirtualChoice]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[XP_GetVirtualChoice]
@RollNo varchar(20)
AS
select * from XT_VirtualChoice where RollNo=@RollNo



GO
/****** Object:  StoredProcedure [dbo].[XP_PreAllotmentProcessing]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[XP_PreAllotmentProcessing]
AS
BEGIN
	Truncate table dbo.XT_PSeat
	Insert Into dbo.XT_PSeat
	select ltrim(rtrim(instcd)) instcd,ltrim(rtrim(brcd)) brcd,ltrim(rtrim(Sequence)) Sequence,tSeat,0 as aSeat,0 as bSeat,0 as cSeat from XT_Seat	
	truncate table XT_Allotted;
	truncate table XT_AllotmentSummary;
	truncate table XT_Dereserve;
END



GO
/****** Object:  StoredProcedure [dbo].[XP_UpdateAllotmentSummary]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[XP_UpdateAllotmentSummary]
AS
BEGIN
Update A set A.InItSeats=S.TSeat from XT_AllotmentSummary A 
	inner join XT_Seat S on A.Instcd=S.Instcd and A.Brcd=S.Brcd and A.Sequence=S.Sequence

update S set s.Allotted=A.aSeat ,s.OpeningRank=A.minRank,S.ClosingRank=A.maxRank from XT_AllotmentSummary S 	
	inner join (Select instcd,brcd,Sequence,count(*) aSeat,min([Rank]) minRank, max([Rank])maxRank   from XT_Allotment group by instcd,brcd,Sequence ) A
	on S.instcd=A.instcd and S.Brcd=A.Brcd and S.Sequence=A.Sequence

update S set s.DereserveFrom=A.DereserveFrom ,s.DereserveTo=A.DereserveTo from XT_AllotmentSummary S 	
	inner join (Select instcd,brcd,Sequence,sum(DereserveFrom) DereserveFrom, sum(DereserveTo ) DereserveTo from XT_Dereserve group by instcd,brcd,Sequence ) A
	on S.instcd=A.instcd and S.Brcd=A.Brcd and S.Sequence=A.Sequence	

update S set s.OpeningRank_Newcand=A.OpeningRank_Newcand ,s.ClosingRank_Newcand=A.ClosingRank_Newcand from XT_AllotmentSummary S 	
	inner join (Select Instcd,Brcd,Sequence,Min([Rank]) OpeningRank_Newcand,Max([Rank]) ClosingRank_Newcand from XT_Allotment A where not exists (select 1 from XT_PreviousAllotment where RollNo=A.Rollno and Instcd=A.instcd and Brcd=A.Brcd and Sequence=A.Sequence) group by Instcd,Brcd,Sequence)A
	on S.instcd=A.instcd and S.Brcd=A.Brcd and S.Sequence=A.Sequence
END

GO
/****** Object:  StoredProcedure [dbo].[XP_ValidateDereserve]    Script Date: 17-08-2021 01:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Proc [dbo].[XP_ValidateDereserve]
(
@status char(1) out
)
AS
BEGIN
Declare @invalidRecords int,@maxIteration int
if exists (select 1 from XT_Dereserve where DereserveFrom>Seats-Allotted) 
BEGIN 
	Set @status='1'
	return
END
if exists (select 1 from XT_Dereserve where Allotted>Seats or Allotted>(Seats+DereserveTo-DereserveFrom)) 
BEGIN 
	Set @status='2'
	return
END

declare @eCount int=0
Select @eCount=isnull(COUNT(*),0) from 
(select IterationNo,instcd,brcd,sum(Seats) oldSeats,sum(Seats+DereserveTo-DereserveFrom) newSeats from XT_Dereserve group by IterationNo, instcd,brcd ) I
 inner join (select instcd,brcd,sum(tseat) originalSeat from XT_Seat group by instcd,brcd) O 
	on I.Instcd=O.Instcd and I.Brcd=O.Brcd
	where oldSeats<>newSeats or oldSeats<>originalSeat

if @eCount>0 
BEGIN 
	Set @status='3'
	return
END 
 select @maxIteration=max(IterationNo) from XT_Dereserve 
 while (@maxIteration>=2)
 Begin 
	if exists (select 1 from XT_Dereserve O inner join XT_Dereserve N on O.IterationNo=@maxIteration-1 and N.IterationNo=@maxIteration and O.Instcd=N.Instcd and O.Brcd=N.Brcd and O.Sequence=N.Sequence
	where N.Seats<>(O.Seats-O.DereserveFrom+O.DereserveTo))
	BEGIN 
		Set @status='4'
		return
	END
	Set @maxIteration=@maxIteration-1
 End
 Set @status='0'
 END


GO
